<%= search_form_for @query, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= f.label :university_name_like %>
      <%= f.search_field :university_name_like, class: 'form-control', placeholder: PerformanceEvaluation.human_attribute_name(:university_name_like) %>
    </div>

    <div class=" col-xs-12 col-md-6 col-sm-6">
      <%= f.label :course_name_like %>
      <%= f.search_field :course_name_like, class: 'form-control', placeholder: PerformanceEvaluation.human_attribute_name(:course_name_like) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :score_gteq %>
      <%= f.search_field :score_gteq, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :score_lteq %>
      <%= f.search_field :score_lteq, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :score_course_gteq %>
      <%= f.search_field :score_course_gteq, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :score_course_lteq %>
      <%= f.search_field :score_course_lteq, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :average_score_student_gteq %>
      <%= f.search_field :average_score_student_gteq, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 col-sm-2">
      <%= f.label :average_score_student_lteq %>
      <%= f.search_field :average_score_student_lteq, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit 'Pesquisar', class: 'btn btn-primary' %>
<% end %>
