<div class="row search">
  <div class="col-xs-12 col-md-12 col-sm-12">
    <fieldset>
      <legend>Pesquisar</legend>

      <%= render 'search_form' %>
    </fieldset>
  </div>
</div>

<div class="row table">
  <h1>Enade Ranking</h1>
  <table class="table">
    <thead>
      <tr>
        <th><%= University.model_name.human %></th>
        <th><%= Course.model_name.human %></th>
        <th><%= PerformanceEvaluation.human_attribute_name(:score)%></th>
        <th><%= PerformanceEvaluation.human_attribute_name(:score_course)%></th>
        <th><%= PerformanceEvaluation.human_attribute_name(:average_score_student)%></th>
      </tr>
    </thead>
    <tbody>
      <% @performance_evaluations.each do |performance| %>
        <tr>
          <td><%= performance.university %></td>
          <td><%= performance.course %></td>
          <td><%= performance.score %></td>
          <td><%= performance.score_course %></td>
          <td><%= performance.average_score_student %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
