<!DOCTYPE html>
<html>
  <head>
    <title>EnadeRanking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
